html, body {
	margin: 0;
	height: 100%;
}

body {
	position: relative;
}

/* start of add button style */
#upload-button {
	--left-margin: 12px;
	--bottom-margin: 12px;
	position: absolute;
	top: 100%;
	left: 100%;
	transform: translate(
		calc(var(--diameter) * -1 - var(--left-margin)),
		calc(var(--diameter) * -1 - var(--bottom-margin)));
}

.button-background {
	--diameter: 70px;
	--border-width: 4px;
	--true-diameter: calc(var(--diameter) - var(--border-width) * 2);

	background-color: rgb(131 127 229);
	padding: 0;
	border-radius: 100%;
	border: var(--border-width) solid black;
	height: var(--diameter);
	width: var(--diameter);
}

.vertical-arm, .horizontal-arm {
	--width: 5px;
	--height: 50px;

	position: relative;
	background-color: white;
	width: var(--width);
	height: var(--height);
}

.vertical-arm {
	top: calc((var(--true-diameter) - var(--height))/2);
	left: calc((var(--true-diameter) - var(--width))/2);
}

.horizontal-arm {
	top: calc((var(--true-diameter) - var(--height))/2 - var(--height));
	left: calc((var(--true-diameter) - var(--width))/2);
	transform: rotate(90deg);
}
/* end of add button style */

/* start of upload window style */
#upload-window {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
/* end of upload window style */