html, body {
	margin: 0;
	height: 100%;
}

/* start of add button style */
.button-background {
	--diameter: 70px;
	--border-width: 1px;
	--true-diameter: calc(var(--diameter) + var(--border-width));

	background-color: blue;
	padding: 0;
	border-radius: 100%;
	border: var(--border-width) solid black;
	height: var(--diameter);
	width: var(--diameter);
}

.vertical-arm, .horizontal-arm {
	--width: 6px;
	--height: 60px;

	position: relative;
	background-color: yellow;
	width: var(--width);
	height: var(--height);
}

.vertical-arm {
	top: calc((var(--diameter) - var(--height))/4);
	left: calc((var(--diameter) - var(--width))/2);
}
/* end of add button style */